body {
    background-image: url("https://source.unsplash.com/2000x1100/?food");
    background-repeat: no-repeat;
    background-size: cover;
}

.starter h1 {
    font-size: 2em;
    height: 2em;
    text-align: center;
}

.starter {
    margin: auto;
    border: none;
    outline: none;
    margin-top: 10%;
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin-bottom: 1%;

}

.sub-starter {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.sub-starter button {
    border-radius: 50%;
    border: none;
    height: 3em;
    width: 3em;
    outline: none;
    background: #3e3939;
    color: rgb(255, 255, 255);
}

.search-this {
    border: none;
    outline: none;
    padding: .4em 1em;
    border-radius: 23px;
    background: #3e3939;
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: 110%;
    cursor: pointer;
    transition: .2s ease-in-out; 
}

button:hover {
    background: rgb(255, 200, 0);
}

.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.nutrition-display {
    background: #000000d0;
    color: white;
    border-radius: 30px;
    width: 80%;
    margin: 3em;
    padding-top: 2em;
    
}

.food-contents {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    padding-top: 3%;
    padding-bottom: 3%;
}

.dish {
    margin: auto;
    text-align: center;
    font-size: 3em;
    text-transform: capitalize;
}

.error-message {
    display: flex;
    background-color: #000000d0;
    margin: 10% 32% 0% 32%;
    font-size: 1.3rem;
    border-radius: 30px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    color: darkorange;
}

.error-message p {
   font-size: 2rem;

}

.error-message button {
    margin: auto;
    width: 10%;
    line-height: 2rem;
}

::placeholder {
    color: white;
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 17%;
    
}

.logo-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:#000000d0;
    font-size: 1.5rem;
    border-radius: 30px;
    padding:0% 2% 2% 2%;
    line-height: 3em;
   
}

.pre-logo {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px gold;
    padding-left: 10%;
    padding-bottom: 2%;
    
}

.logo {
    font-size: 4em;
    color: rgb(255, 255, 255);
    margin: -8%;
    text-shadow: 2px 2px 5px gold;
    font-family: 'Petit Formal Script', cursive;
    padding-bottom: 3%;
    padding-left: 5%;


}

.video-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em;
    width: 100%;
}

.video-area {
    display: flex;
    background-color: #000000d0;
    border-radius: 30px;
    width: 80%;
}

.video {
    transform: scale(4);
    margin: 20% 20% 20% 20%;
    width: 12vw;
    height: 12vh;
}

.recommended-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 0% 2% 2% 2%;
    line-height: 3em;
    color: white;
    margin-right: 0;

}

.recommendation {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    line-height: 2em;
    border-radius: 30px;
    padding: 3%;
    margin: 1%;
}

.recommendation a {
    color: #F0FF9D;
    margin: auto;
    padding-right: 3%;
}

.yt-link-recommendation {
    color: #F0FF9D;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: start;
    line-height: 2em;
    border: 3px solid white;
    border-radius: 30px;
    padding: 3%;
    margin: 1%;
    width: 20vw;
    height: 20vh;
    overflow: hidden;
}

.yt-link-recommendation:hover {
    box-shadow: 0 0 0.5em #F0FF9D; 
  }

.hide {
    display: none;
}

.our-recommended {
    color: white;
    font-weight: bold;
}

.search-history {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
}

.history-btn,
.refresh-btn {
    background: #000000d0;
    color: white;
    padding: 1em 1.5em 1em 1.5em;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 30px;
    font-weight: bold;
    font-style: italic;
    border: none;
}

.history-btn:hover,
.refresh-btn:hover {
    background: #000000d0;
    color: rgb(255, 200, 0);
}

.yt-link {
    background: #26885dd0;
    color: white;
    padding: 1em 1.5em 1em 1.5em;
    margin:0 1em 1em 1em;
    font-size: 1rem;
    border-radius: 30px;
    font-weight: bold;
    font-style: italic;
    border: none;
    text-transform: capitalize;
}

.main-video-to-yt {
    text-decoration: none;
    color: white;
}

.history-header {
    padding-bottom: 3em;
}

.video-description {
    font-size: 15px;
}  

img {
    border-radius: 25px;
}

/* nutritional display for smaller display size */

@media screen and (max-width: 1200px) {
    body {
        background-image: url("https://source.unsplash.com/820x1180/?food");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .recommended-videos {
        flex-direction: column;
        align-items: center;
    }
    .food-contents {
        flex-direction: column;
    }
    .nutrition-display {
        padding: 1em;
    }
    .yt-link {
        font-size: 1.2rem;
    }
    .video-description1 {
        padding-right: 2%;
    }
    .video-description2 {
        padding-right: 2%;
    }
    .video-description3 {
        padding-right: 2%;
    }
    img {
        width: 12vw;
        height: 10vh;
        border-radius: 25px;
    }
    .error-message {
        margin: 0% 0% 0% 0%;
        margin: 14%;
    }
    .error-message button {
        width: 30%;
    }
    .video {
        transform: scale(2);
        width: 25vw;
        height: 20vh;
        }

    .recommendation {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .pre-logo {
        font-size: .7em;
    }
    .logo {
        font-size: 1.5em;
        margin-bottom: 1%;
    }
    .logo-holder {
        line-height: 2em;
    }
    footer {
        margin-top: 70%;
    }

    .hide{
        display: none;
    }
    .yt-link-recommendation {
        width: 45vw;
        height: 20vh;
        align-items: stretch;
        justify-content: center;
    }
}


/* for smartphones and smaller ipads */
@media screen and (max-width: 768px) {
    .search-history {
        flex-direction: column;
    }
    .recommended-videos {
        flex-direction: column;
    
    }
    .food-contents {
        flex-direction: column;
    }
    .nutrition-display {
        padding: 1em;
    }
    img {
        width: 15vw;
        height: 10vh;
    }
    .video {
       width: 25vw;
       height: 15vh;
    }
    .pre-logo {
        font-size: .4em;
    }
    .logo {
        font-size: 1.2em;
        margin-bottom: 1%;
    }
    .logo-holder {
        line-height: 1.5em;
    }
    footer {
        margin-top: 85%;
    }
    .video-description1 {
        padding-right: 1%;
    }
    .video-description2 {
        padding-right: 1%;
    }
    .video-description3 {
        padding-right: 1%;
    }
    .starter {
        width: 80%;
    }
    .starter h1 {
        font-size: 1.5em;
    }
    .search-history {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
    }
    
    .history-btn,
    .refresh-btn {
        padding: .5em 1em .5em 1em;
        margin: .3em;   
    }
    .error-message {
        margin: 0% 0% 0% 0%;
    } 
    .error-message p {
       font-size: 2rem;
    
    }
    
    .error-message button {
        margin: auto;
        width: 30%;
        line-height: 2rem;
    }
    body {
        background-image: url("https://source.unsplash.com/360x760/?food");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .video-area {
        width: 95%;
        justify-content: center;
        overflow: hidden;
    }
    .video-display {
        width: 81%;
    }
    
    .recommendation a {
        color: #F0FF9D;
        margin: auto;
        padding-right: 3%;
    }
    
    .recommended-videos {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        width: 132%;
        flex-wrap: wrap;
    
    }
    
    .recommendation {
        line-height: 1em;
        margin: 3%;
        align-items: center;
        font-size: .8em;
        flex-direction: column-reverse;
    }
    
    .recommendation a {
        font-size: .8em;
    }
    
    .yt-link-recommendation {
        margin-left: 6%;
        width: 62vw;
        height: 20vh;
    }
    
    .yt-link-recommendation:hover {
        box-shadow: 0 0 0.5em #F0FF9D; 
      }
    .our-recommended{
        text-align: center;
    }
    .yt-link {
        font-size: .8rem;
    }
    .hide{
        display: none;
    }
  }
