body {
    background-image: url("https://source.unsplash.com/2000x1100/?food");
    background-repeat: no-repeat;
    background-size: cover;
}

.starter h1 {
    font-size: 2em;
    height: 2em;
    text-align: center;
}

.hide {
    display: none;
}

.starter {
    margin: auto;
    border: none;
    outline: none;
    margin-top: 10%;
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin-bottom: 1%;

}

.sub-starter {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}



.sub-starter button {
    border-radius: 50%;
    border: none;
    height: 3em;
    width: 3em;
    outline: none;
    background: #3e3939;
    color: rgb(255, 255, 255);
}

.search-this {
    border: none;
    outline: none;
    padding: .4em 1em;
    border-radius: 23px;
    background: #3e3939;
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: 110%;
    cursor: pointer;
    transition: .2s ease-in-out;
    
    
}

button:hover {
    background: gold;
}

.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.nutrition-display {
    background: #000000d0;
    color: white;
    border-radius: 30px;
    width: 80%;
    margin: 3em;
    padding-top: 2em;
    
}
.food-contents {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    padding-top: 3%;
    padding-bottom: 3%;
}

.dish {
    margin: auto;
    text-align: center;
    font-size: 3em;
    text-transform: capitalize;
}

.error-message {
    display: flex;
    background-color: #000000d0;
    margin: 10% 32% 0% 32%;
    font-size: 1.3rem;
    border-radius: 30px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    color: darkorange;
}



.error-message p {
   font-size: 2rem;

}

.error-message button {
    margin: auto;
    width: 10%;
    line-height: 2rem;
}



::placeholder {
    color: white;
}




footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 17%;
    
}

.logo-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:#000000d0;
    font-size: 1.5rem;
    border-radius: 30px;
    padding:0% 2% 2% 2%;
    line-height: 3em;
   
}

.pre-logo {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px gold;
    padding-left: 10%;
    padding-bottom: 2%;
    
}

.logo {
    font-size: 4em;
    color: rgb(255, 255, 255);
    margin: -8%;
    text-shadow: 2px 2px 5px gold;
    font-family: 'Petit Formal Script', cursive;
    padding-bottom: 3%;
    padding-left: 5%;


}
.video-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em;
    width: 100%;
}

.video-area {
    display: flex;
    background-color: #000000d0;
    border-radius: 30px;
    width: 80%;
}

.video {
    transform: scale(3);
    margin: 20% 10% 20% 20%;
}
.recommended-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 0% 2% 2% 2%;
    line-height: 3em;
    color: white;
    margin-right: 0;

}

.recommendation {
    display: flex;
    justify-content: space-between;
    line-height: 2em;
    border: 3px solid white;
    border-radius: 30px;
    padding: 3%;
    margin: 1%;
}

.recommendation a {
    color: #F0FF9D;
    margin: auto;
}

.hide {
    display: none;
}

.our-recommended {
    color: white;
    font-weight: bold;
}

/* styling history buttons */

.search-history {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
}

.history-btn,
.refresh-btn {
    background: #000000d0;
    color: white;
    border-radius: 10px;
    padding: 1em 1.5em 1em 1.5em;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 30px;
    font-weight: bold;
    font-style: italic;
    border: none;
    
}

.yt-link {
    text-align: left;
    background: #26885dd0;
    color: white;
    border-radius: 10px;
    padding: 1em 1.5em 1em 1.5em;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 30px;
    font-weight: bold;
    font-style: italic;
    border: none;
}

.history-btn:hover,
.refresh-btn:hover {
    background: #000000d0;
    color: gold;
}

.history-header {
    padding-bottom: 3em;
}

/* nutritional display for smaller display size */

@media screen and (max-width: 1200px) {
    .recommended-videos {
        flex-direction: column;
    
    }
    .food-contents {
        flex-direction: column;
    }
    .nutrition-display {
        padding: 1em;
    }
    img {
        width: 20em;
        height: 20em;
    }

  }

/* for smartphones and smaller ipads - set flex-directtion to column for history and refresh buttons */
@media screen and (max-width: 768px) {
    .search-history {
        flex-direction: column;
    }
    .recommended-videos {
        flex-direction: column;
    
    }
    .food-contents {
        flex-direction: column;
    }
    .nutrition-display {
        padding: 1em;
    }
    img {
        width: 10em;
        height: 10em;
    }

  }


